# Tools

[submodule "tools/mockgen"]
	path = tools/mockgen
	url = https://github.com/golang/mock.git

[submodule "tools/golangci-lint"]
	path = tools/golangci-lint
	url = https://github.com/golangci/golangci-lint.git

[submodule "tools/gotestsum"]
	path = tools/gotestsum
	url = https://github.com/gotestyourself/gotestsum.git

[submodule "tools/protobuf-go"]
	path = tools/protobuf-go
	url = https://github.com/protocolbuffers/protobuf-go.git

[submodule "tools/grpc-go"]
	path = tools/grpc-go
	url = https://github.com/grpc/grpc-go.git

[submodule "tools/grpc-gateway"]
	path = tools/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git

[submodule "tools/protoc-gen-validate"]
	path = tools/protoc-gen-validate
	url = https://github.com/bufbuild/protoc-gen-validate.git

# Contracts protobuf dependencies

[submodule "contracts/protobuf/deps/googleapis"]
	path = contracts/protobuf/deps/googleapis
	url = https://github.com/googleapis/googleapis.git

[submodule "contracts/protobuf/deps/protobuf"]
	path = contracts/protobuf/deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git

[submodule "contracts/protobuf/deps/protoc-gen-validate"]
	path = contracts/protobuf/deps/protoc-gen-validate
	url = https://github.com/bufbuild/protoc-gen-validate.git

[submodule "contracts/protobuf/deps/grpc-gateway"]
	path = contracts/protobuf/deps/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
