server:
  http_listen_port: 3101
  grpc_listen_port: 9095
  log_level: info

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

scrape_configs:
  - job_name: kubernetes-pods
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels:
          - __meta_kubernetes_pod_label_app_kubernetes_io_part_of
        regex: kgym
        action: keep
      - source_labels:
          - __meta_kubernetes_pod_node_name
        target_label: __host__
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)
      - action: replace
        replacement: $1
        separator: /
        source_labels:
          - __meta_kubernetes_namespace
          - __meta_kubernetes_pod_name
        target_label: job
      - action: replace
        source_labels:
          - __meta_kubernetes_namespace
        target_label: namespace
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_name
        target_label: pod
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_container_name
        target_label: container
      - replacement: /var/log/pods/*$1/*.log
        separator: /
        source_labels:
          - __meta_kubernetes_pod_uid
          - __meta_kubernetes_pod_container_name
        target_label: __path__
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_controller_name
        target_label: controller
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_controller_kind
        target_label: controller_kind
    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs: attrs
      - labels:
          stream:
      - output:
          source: output
      - timestamp:
          source: time
          format: RFC3339Nano
      - labels:
          level:
      - json:
          expressions:
            level: level
            msg: msg
            error: error
            trace_id: trace_id
            span_id: span_id
      - labels:
          level:
          trace_id:
          span_id:
      - output:
          source: msg

  - job_name: kubernetes-pods-containers
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels:
          - __meta_kubernetes_pod_label_app_kubernetes_io_part_of
        regex: kgym
        action: keep
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)
      - action: replace
        source_labels:
          - __meta_kubernetes_namespace
        target_label: namespace
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_name
        target_label: pod
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_container_name
        target_label: container
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_uid
        regex: (.+)
        replacement: /var/log/pods/*$1/*.log
        target_label: __path__
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_controller_name
        target_label: controller
      - action: replace
        source_labels:
          - __meta_kubernetes_pod_controller_kind
        target_label: controller_kind
